doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    meta(name='theme-color', content='#f6f6f6')

    meta(property='og:title', content='Momentum scroller')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://momentum-scroller.github.io/')
    meta(property='og:image', content='http://momentum-scroller.github.io/img/picture-large.jpg')

    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@alexey_komov')
    meta(name='twitter:creator', content='@alexey_komov')
    meta(name='twitter:title', content='Momentum scroller page')
    meta(name='twitter:description', content='Momentum scroller')
    meta(name='twitter:image', content='http://momentum-scroller.github.io/img/picture-large.jpg')

    title.
      Alexey Komov
    link(rel='stylesheet', href='css/all.css')
  body
    header
      h3.name-title.
        Momentum scroller demo page
    main
    script(src='js/momentum-scroller.js')

